@include b(checkbox) {
    @include e(input) {
        @include when(indeterminate) {
            .el-checkbox__inner {
                &::before {
                    height: 3px;
                    top: 8px;
                }
            }
        }
    }
    @include e(inner) {
        &::after {
            border: 2px solid $--checkbox-checked-icon-color;
            border-left: 0;
            border-top: 0;
            height: 11px;
            left: 8px;
            position: absolute;
            top: 3px;
            transform: rotate(45deg) scaleY(0);
            width: 5px;
        }
    }
}
