// Name:            Height
// Description:     Utilities for heights
//
// Component:       `el-height-*`
//
// ========================================================================

// Variables
// ========================================================================

$height-small-height:                            150px !default;
$height-medium-height:                           300px !default;
$height-large-height:                            450px !default;

/* ========================================================================
   Component: Height
 ========================================================================== */

[class*='el-height'] { box-sizing: border-box; }

/*
 * Only works if parent element has a height set
 */

.el-height-1-1 { height: 100%; }
.el-height-inherit { height: inherit; }

/*
 * Useful to create image teasers
 */

.el-height-viewport { min-height: 100vh; }

/*
 * Pixel
 * Useful for `overflow: auto`
 */

.el-height-sm { height: $height-small-height; }
.el-height-md { height: $height-medium-height; }
.el-height-lg { height: $height-large-height; }

.el-height-max-sm { max-height: $height-small-height; }
.el-height-max-md { max-height: $height-medium-height; }
.el-height-max-lg { max-height: $height-large-height; }
