@include b(menu) {
    &.el-menu--transparent {
        background-color: transparent;
        border: none;
    }
    background-color: $block-color
}

@include b(menu-item) {
    text-align: left;
    padding-right: 30px;

    & [class^="el-icon-"] {
        margin-right: 15px;
        width: 22px;
        text-align: center;
        font-size: 22px;
        vertical-align: middle;
    }

    @include when(active) {
        &:before {
            content: "";
            position: absolute;
            left: 0;
            height: 100%;
            width: 4px;
            background: $--color-primary;
            border-radius: 0 100px 100px 0;
        }
    }
    i {
        color: $--color-purple-blue;
        font-weight: bold;
    }
}
