// @import "common/var";

// Name:            Width
// Description:     Utilities for widths
//
// Component:       `el-child-width-*`
//                  `el-width-*`
//
// ========================================================================

/* Equal child widths
 ========================================================================== */

[class*='el-child-width'] > * {
    box-sizing: border-box;
    width: 100%;
}

.el-child-width-1-2 > * { width: 50%; }
.el-child-width-1-3 > * { width: unquote('calc(100% * 1 / 3.001)'); }
.el-child-width-1-4 > * { width: 25%; }
.el-child-width-1-5 > * { width: 20%; }
.el-child-width-1-6 > * { width: unquote('calc(100% * 1 / 6.001)'); }
.el-child-width-1-7 > * { width: 14.2857%; }
.el-child-width-1-8 > * { width: 12.5%; }
.el-child-width-1-9 > * { width: 11.1111%; }
.el-child-width-1-10 > * { width: 10%; }
.el-child-width-1-11 > * { width: 9.0909%; }
.el-child-width-1-12 > * { width: 8.3333%; }

.el-child-width-auto > * { width: auto; }

/*
 * 1. Reset the `min-width`, which is set to auto by default, because
 *    flex items won't shrink below their minimum intrinsic content size.
 *    Using `1px` instead of `0`, so items still wrap into the next line,
 *    if they have zero width and padding and the predecessor is 100% wide.
 */

.el-child-width-expand > :not([class*='el-width']) {
    flex: 1;
    /* 1 */
    min-width: 1px;
}

/* Phone landscape */
@media (min-width: $--xs) {

    .el-child-width-1-1\@xs > * { width: 100%; }
    .el-child-width-1-2\@xs > * { width: 50%; }
    .el-child-width-1-3\@xs > * { width: unquote('calc(100% * 1 / 3.001)'); }
    .el-child-width-1-4\@xs > * { width: 25%; }
    .el-child-width-1-5\@xs > * { width: 20%; }
    .el-child-width-1-6\@xs > * { width: unquote('calc(100% * 1 / 6.001)'); }
    .el-child-width-1-7\@xs > * { width: 14.2857%; }
    .el-child-width-1-8\@xs > * { width: 12.5%; }
    .el-child-width-1-9\@xs > * { width: 11.1111%; }
    .el-child-width-1-10\@xs > * { width: 10%; }
    .el-child-width-1-11\@xs > * { width: 9.0909%; }
    .el-child-width-1-12\@xs > * { width: 8.3333%; }

    .el-child-width-auto\@xs > * { width: auto; }
    .el-child-width-expand\@xs > :not([class*='el-width']) {
        flex: 1;
        min-width: 1px;
    }

}

/* Phone landscape and bigger */
@media (min-width: $--sm) {

    .el-child-width-1-1\@sm > * { width: 100%; }
    .el-child-width-1-2\@sm > * { width: 50%; }
    .el-child-width-1-3\@sm > * { width: unquote('calc(100% * 1 / 3.001)'); }
    .el-child-width-1-4\@sm > * { width: 25%; }
    .el-child-width-1-5\@sm > * { width: 20%; }
    .el-child-width-1-6\@sm > * { width: unquote('calc(100% * 1 / 6.001)'); }
    .el-child-width-1-7\@sm > * { width: 14.2857%; }
    .el-child-width-1-8\@sm > * { width: 12.5%; }
    .el-child-width-1-9\@sm > * { width: 11.1111%; }
    .el-child-width-1-10\@sm > * { width: 10%; }
    .el-child-width-1-11\@sm > * { width: 9.0909%; }
    .el-child-width-1-12\@sm > * { width: 8.3333%; }

    .el-child-width-auto\@sm > * { width: auto; }
    .el-child-width-expand\@sm > :not([class*='el-width']) {
        flex: 1;
        min-width: 1px;
    }

}

/* Tablet landscape and bigger */
@media (min-width: $--md) {

    .el-child-width-1-1\@md > * { width: 100%; }
    .el-child-width-1-2\@md > * { width: 50%; }
    .el-child-width-1-3\@md > * { width: unquote('calc(100% * 1 / 3.001)'); }
    .el-child-width-1-4\@md > * { width: 25%; }
    .el-child-width-1-5\@md > * { width: 20%; }
    .el-child-width-1-6\@md > * { width: unquote('calc(100% * 1 / 6.001)'); }
    .el-child-width-1-7\@md > * { width: 14.2857%; }
    .el-child-width-1-8\@md > * { width: 12.5%; }
    .el-child-width-1-9\@md > * { width: 11.1111%; }
    .el-child-width-1-10\@md > * { width: 10%; }
    .el-child-width-1-11\@md > * { width: 9.0909%; }
    .el-child-width-1-12\@md > * { width: 8.3333%; }

    .el-child-width-auto\@md > * { width: auto; }
    .el-child-width-expand\@md > :not([class*='el-width']) {
        flex: 1;
        min-width: 1px;
    }

}

/* Desktop and bigger */
@media (min-width: $--lg) {

    .el-child-width-1-1\@lg > * { width: 100%; }
    .el-child-width-1-2\@lg > * { width: 50%; }
    .el-child-width-1-3\@lg > * { width: unquote('calc(100% * 1 / 3.001)'); }
    .el-child-width-1-4\@lg > * { width: 25%; }
    .el-child-width-1-5\@lg > * { width: 20%; }
    .el-child-width-1-6\@lg > * { width: unquote('calc(100% * 1 / 6.001)'); }
    .el-child-width-1-7\@lg > * { width: 14.2857%; }
    .el-child-width-1-8\@lg > * { width: 12.5%; }
    .el-child-width-1-9\@lg > * { width: 11.1111%; }
    .el-child-width-1-10\@lg > * { width: 10%; }
    .el-child-width-1-11\@lg > * { width: 9.0909%; }
    .el-child-width-1-12\@lg > * { width: 8.3333%; }

    .el-child-width-auto\@lg > * { width: auto; }
    .el-child-width-expand\@lg > :not([class*='el-width']) {
        flex: 1;
        min-width: 1px;
    }

}

/* Large screen and bigger */
@media (min-width: $--xl) {

    .el-child-width-1-1\@xl > * { width: 100%; }
    .el-child-width-1-2\@xl > * { width: 50%; }
    .el-child-width-1-3\@xl > * { width: unquote('calc(100% * 1 / 3.001)'); }
    .el-child-width-1-4\@xl > * { width: 25%; }
    .el-child-width-1-5\@xl > * { width: 20%; }
    .el-child-width-1-6\@xl > * { width: unquote('calc(100% * 1 / 6.001)'); }
    .el-child-width-1-7\@xl > * { width: 14.2857%; }
    .el-child-width-1-8\@xl > * { width: 12.5%; }
    .el-child-width-1-9\@xl > * { width: 11.1111%; }
    .el-child-width-1-10\@xl > * { width: 10%; }
    .el-child-width-1-11\@xl > * { width: 9.0909%; }
    .el-child-width-1-12\@xl > * { width: 8.3333%; }

    .el-child-width-auto\@xl > * { width: auto; }
    .el-child-width-expand\@xl > :not([class*='el-width']) {
        flex: 1;
        min-width: 1px;
    }

}

/* Extra large screen */
@media (min-width: $--xxl) {

    .el-child-width-1-1\@xxl > * { width: 100%; }
    .el-child-width-1-2\@xxl > * { width: 50%; }
    .el-child-width-1-3\@xxl > * { width: unquote('calc(100% * 1 / 3.001)'); }
    .el-child-width-1-4\@xxl > * { width: 25%; }
    .el-child-width-1-5\@xxl > * { width: 20%; }
    .el-child-width-1-6\@xxl > * { width: unquote('calc(100% * 1 / 6.001)'); }
    .el-child-width-1-7\@xxl > * { width: 14.2857%; }
    .el-child-width-1-8\@xxl > * { width: 12.5%; }
    .el-child-width-1-9\@xxl > * { width: 11.1111%; }
    .el-child-width-1-10\@xxl > * { width: 10%; }
    .el-child-width-1-11\@xxl > * { width: 9.0909%; }
    .el-child-width-1-12\@xxl > * { width: 8.3333%; }

    .el-child-width-auto\@xxl > * { width: auto; }
    .el-child-width-expand\@xxl > :not([class*='el-width']) {
        flex: 1;
        min-width: 1px;
    }

}

/* Single Widths
 ========================================================================== */

/*
 * 1. `max-width` is needed for the pixel-based classes
 */

[class*='el-width'] {
    box-sizing: border-box;
    width: 100%;
    /* 1 */
    max-width: 100%;
}

/* Halves */
.el-width-1-2 { width: 50%; }

/* Thirds */
.el-width-1-3 { width: unquote('calc(100% * 1 / 3.001)'); }
.el-width-2-3 { width: unquote('calc(100% * 2 / 3.001)'); }

/* Quarters */
.el-width-1-4 { width: 25%; }
.el-width-3-4 { width: 75%; }

/* Fifths */
.el-width-1-5 { width: 20%; }
.el-width-2-5 { width: 40%; }
.el-width-3-5 { width: 60%; }
.el-width-4-5 { width: 80%; }

/* Sixths */
.el-width-1-6 { width: unquote('calc(100% * 1 / 6.001)'); }
.el-width-5-6 { width: unquote('calc(100% * 5 / 6.001)'); }

/* Tenths */
.el-width-1-10 { width: 10%; }
.el-width-2-10 { width: 20%; }
.el-width-3-10 { width: 30%; }
.el-width-4-10 { width: 40%; }
.el-width-5-10 { width: 50%; }
.el-width-6-10 { width: 60%; }
.el-width-7-10 { width: 70%; }
.el-width-8-10 { width: 80%; }
.el-width-9-10 { width: 90%; }

/* Twelwths */
.el-width-1-12 { width: 8.3333%; }
.el-width-2-12 { width: 16.6666%; }
.el-width-3-12 { width: 25%; }
.el-width-4-12 { width: 33.3333%; }
.el-width-5-12 { width: 41.6666%; }
.el-width-6-12 { width: 50%; }
.el-width-7-12 { width: 58.3333%; }
.el-width-8-12 { width: 66.6666%; }
.el-width-9-12 { width: 75%; }
.el-width-10-12 { width: 83.3333%; }
.el-width-11-12 { width: 91.6666%; }

/* Pixel */
.el-width-xs { width: $--width-xs; }
.el-width-sm { width: $--width-sm; }
.el-width-md { width: $--width-md; }
.el-width-lg { width: $--width-lg; }
.el-width-xl { width: $--width-xl; }
.el-width-xxl { width: $--width-2xl; }

/* Auto */
.el-width-auto { width: auto; }

/* Expand */
.el-width-expand {
    flex: 1;
    min-width: 1px;
}

/* Phone landscape and bigger */
@media (min-width: $--xs) {

    /* Whole */
    .el-width-1-1\@xs { width: 100%; }

    /* Halves */
    .el-width-1-2\@xs { width: 50%; }

    /* Thirds */
    .el-width-1-3\@xs { width: unquote('calc(100% * 1 / 3.001)'); }
    .el-width-2-3\@xs { width: unquote('calc(100% * 2 / 3.001)'); }

    /* Quarters */
    .el-width-1-4\@xs { width: 25%; }
    .el-width-2-4\@xs { width: 50%; }
    .el-width-3-4\@xs { width: 75%; }

    /* Fifths */
    .el-width-1-5\@xs { width: 20%; }
    .el-width-2-5\@xs { width: 40%; }
    .el-width-3-5\@xs { width: 60%; }
    .el-width-4-5\@xs { width: 80%; }

    /* Sixths */
    .el-width-1-6\@xs { width: 16.6666; }
    .el-width-2-6\@xs { width: 33.3333%; }
    .el-width-3-6\@xs { width: 50%; }
    .el-width-4-6\@xs { width: 66.6666%; }
    .el-width-5-6\@xs { width: 83.3333%; }

    /* Pixel */
    .el-width-small\@xs { width: $--width-sm; }
    .el-width-medium\@xs { width: $--width-md; }
    .el-width-large\@xs { width: $--width-lg; }
    .el-width-xlarge\@xs { width: $--width-xl; }
    .el-width-2xlarge\@xs { width: $--width-2xl; }

    /* Auto */
    .el-width-auto\@xs { width: auto; }

    /* Expand */
    .el-width-expand\@xs {
        flex: 1;
        min-width: 1px;
    }

}

/* Phone landscape and bigger */
@media (min-width: $--sm) {

    /* Whole */
    .el-width-1-1\@sm { width: 100%; }

    /* Halves */
    .el-width-1-2\@sm { width: 50%; }

    /* Thirds */
    .el-width-1-3\@sm { width: unquote('calc(100% * 1 / 3.001)'); }
    .el-width-2-3\@sm { width: unquote('calc(100% * 2 / 3.001)'); }

    /* Quarters */
    .el-width-1-4\@sm { width: 25%; }
    .el-width-2-4\@sm { width: 50%; }
    .el-width-3-4\@sm { width: 75%; }

    /* Fifths */
    .el-width-1-5\@sm { width: 20%; }
    .el-width-2-5\@sm { width: 40%; }
    .el-width-3-5\@sm { width: 60%; }
    .el-width-4-5\@sm { width: 80%; }

    /* Sixths */
    .el-width-1-6\@sm { width: 16.6666; }
    .el-width-2-6\@sm { width: 33.3333%; }
    .el-width-3-6\@sm { width: 50%; }
    .el-width-4-6\@sm { width: 66.6666%; }
    .el-width-5-6\@sm { width: 83.3333%; }

    /* Tenths */
    .el-width-1-10\@sm { width: 10%; }
    .el-width-2-10\@sm { width: 20%; }
    .el-width-3-10\@sm { width: 30%; }
    .el-width-4-10\@sm { width: 40%; }
    .el-width-5-10\@sm { width: 50%; }
    .el-width-6-10\@sm { width: 60%; }
    .el-width-7-10\@sm { width: 70%; }
    .el-width-8-10\@sm { width: 80%; }
    .el-width-9-10\@sm { width: 90%; }

    /* Twelwths */
    .el-width-1-12\@sm { width: 8.3333%; }
    .el-width-2-12\@sm { width: 16.6666%; }
    .el-width-3-12\@sm { width: 25%; }
    .el-width-4-12\@sm { width: 33.3333%; }
    .el-width-5-12\@sm { width: 41.6666%; }
    .el-width-6-12\@sm { width: 50%; }
    .el-width-7-12\@sm { width: 58.3333%; }
    .el-width-8-12\@sm { width: 66.6666%; }
    .el-width-9-12\@sm { width: 75%; }
    .el-width-10-12\@sm { width: 83.3333%; }
    .el-width-11-12\@sm { width: 91.6666%; }

    /* Pixel */
    .el-width-small\@sm { width: $--width-sm; }
    .el-width-medium\@sm { width: $--width-md; }
    .el-width-large\@sm { width: $--width-lg; }
    .el-width-xlarge\@sm { width: $--width-xl; }
    .el-width-2xlarge\@sm { width: $--width-2xl; }

    /* Auto */
    .el-width-auto\@sm { width: auto; }

    /* Expand */
    .el-width-expand\@sm {
        flex: 1;
        min-width: 1px;
    }

}

/* Tablet landscape and bigger */
@media (min-width: $--md) {

    /* Whole */
    .el-width-1-1\@md { width: 100%; }

    /* Halves */
    .el-width-1-2\@md { width: 50%; }

    /* Thirds */
    .el-width-1-3\@md { width: unquote('calc(100% * 1 / 3.001)'); }
    .el-width-2-3\@md { width: unquote('calc(100% * 2 / 3.001)'); }

    /* Quarters */
    .el-width-1-4\@md { width: 25%; }
    .el-width-2-4\@md { width: 50%; }
    .el-width-3-4\@md { width: 75%; }

    /* Fifths */
    .el-width-1-5\@md { width: 20%; }
    .el-width-2-5\@md { width: 40%; }
    .el-width-3-5\@md { width: 60%; }
    .el-width-4-5\@md { width: 80%; }

    /* Sixths */
    .el-width-1-6\@md { width: unquote('calc(100% * 1 / 6.001)'); }
    .el-width-2-6\@md { width: unquote('calc(100% * 2 / 6.001)'); }
    .el-width-3-6\@md { width: 50%; }
    .el-width-4-6\@md { width: unquote('calc(100% * 4 / 6.001)'); }
    .el-width-5-6\@md { width: unquote('calc(100% * 5 / 6.001)'); }

    /* Tenths */
    .el-width-1-10\@md { width: 10%; }
    .el-width-2-10\@md { width: 20%; }
    .el-width-3-10\@md { width: 30%; }
    .el-width-4-10\@md { width: 40%; }
    .el-width-5-10\@md { width: 50%; }
    .el-width-6-10\@md { width: 60%; }
    .el-width-7-10\@md { width: 70%; }
    .el-width-8-10\@md { width: 80%; }
    .el-width-9-10\@md { width: 90%; }

    /* Twelwths */
    .el-width-1-12\@md { width: 8.3333%; }
    .el-width-2-12\@md { width: 16.6666%; }
    .el-width-3-12\@md { width: 25%; }
    .el-width-4-12\@md { width: 33.3333%; }
    .el-width-5-12\@md { width: 41.6666%; }
    .el-width-6-12\@md { width: 50%; }
    .el-width-7-12\@md { width: 58.3333%; }
    .el-width-8-12\@md { width: 66.6666%; }
    .el-width-9-12\@md { width: 75%; }
    .el-width-10-12\@md { width: 83.3333%; }
    .el-width-11-12\@md { width: 91.6666%; }

    /* Pixel */
    .el-width-small\@md { width: $--width-sm; }
    .el-width-medium\@md { width: $--width-md !important; }
    .el-width-large\@md { width: $--width-lg; }
    .el-width-xlarge\@md { width: $--width-xl; }
    .el-width-2xlarge\@md { width: $--width-2xl; }

     /* Auto */
    .el-width-auto\@md { width: auto; }

    /* Expand */
    .el-width-expand\@md {
        flex: 1;
        min-width: 1px;
    }

}

/* Desktop and bigger */
@media (min-width: $--lg) {

    /* Whole */
    .el-width-1-1\@lg { width: 100%; }

    /* Halves */
    .el-width-1-2\@lg { width: 50%; }

    /* Thirds */
    .el-width-1-3\@lg { width: unquote('calc(100% * 1 / 3.001)'); }
    .el-width-2-3\@lg { width: unquote('calc(100% * 2 / 3.001)'); }

    /* Quarters */
    .el-width-1-4\@lg { width: 25%; }
    .el-width-2-4\@lg { width: 50%; }
    .el-width-3-4\@lg { width: 75%; }

    /* Fifths */
    .el-width-1-5\@lg { width: 20%; }
    .el-width-2-5\@lg { width: 40%; }
    .el-width-3-5\@lg { width: 60%; }
    .el-width-4-5\@lg { width: 80%; }

    /* Sixths */
    .el-width-1-6\@lg { width: 16.6666; }
    .el-width-2-6\@lg { width: 33.3333%; }
    .el-width-3-6\@lg { width: 50%; }
    .el-width-4-6\@lg { width: 66.6666%; }
    .el-width-5-6\@lg { width: 83.3333%; }

    /* Tenths */
    .el-width-1-10\@lg { width: 10%; }
    .el-width-2-10\@lg { width: 20%; }
    .el-width-3-10\@lg { width: 30%; }
    .el-width-4-10\@lg { width: 40%; }
    .el-width-5-10\@lg { width: 50%; }
    .el-width-6-10\@lg { width: 60%; }
    .el-width-7-10\@lg { width: 70%; }
    .el-width-8-10\@lg { width: 80%; }
    .el-width-9-10\@lg { width: 90%; }

    /* Twelwths */
    .el-width-1-12\@lg { width: 8.3333%; }
    .el-width-2-12\@lg { width: 16.6666%; }
    .el-width-3-12\@lg { width: 25%; }
    .el-width-4-12\@lg { width: 33.3333%; }
    .el-width-5-12\@lg { width: 41.6666%; }
    .el-width-6-12\@lg { width: 50%; }
    .el-width-7-12\@lg { width: 58.3333%; }
    .el-width-8-12\@lg { width: 66.6666%; }
    .el-width-9-12\@lg { width: 75%; }
    .el-width-10-12\@lg { width: 83.3333%; }
    .el-width-11-12\@lg { width: 91.6666%; }

    /* Pixel */
    .el-width-small\@lg { width: $--width-sm; }
    .el-width-medium\@lg { width: $--width-md; }
    .el-width-large\@lg { width: $--width-lg; }
    .el-width-xlarge\@lg { width: $--width-xl; }
    .el-width-2xlarge\@lg { width: $--width-2xl; }

    /* Auto */
    .el-width-auto\@lg { width: auto; }

    /* Expand */
    .el-width-expand\@lg {
        flex: 1;
        min-width: 1px;
    }

}

/* Extra Large */
@media (min-width: $--xl) {

    /* Whole */
    .el-width-1-1\@xl { width: 100%; }

    /* Halves */
    .el-width-1-2\@xl { width: 50%; }

    /* Thirds */
    .el-width-1-3\@xl { width: unquote('calc(100% * 1 / 3.001)'); }
    .el-width-2-3\@xl { width: unquote('calc(100% * 2 / 3.001)'); }

    /* Quarters */
    .el-width-1-4\@xl { width: 25%; }
    .el-width-2-4\@xl { width: 50%; }
    .el-width-3-4\@xl { width: 75%; }

    /* Fifths */
    .el-width-1-5\@xl { width: 20%; }
    .el-width-2-5\@xl { width: 40%; }
    .el-width-3-5\@xl { width: 60%; }
    .el-width-4-5\@xl { width: 80%; }

    /* Sixths */
    .el-width-1-6\@xl { width: 16.6666; }
    .el-width-2-6\@xl { width: 33.3333%; }
    .el-width-3-6\@xl { width: 50%; }
    .el-width-4-6\@xl { width: 66.6666%; }
    .el-width-5-6\@xl { width: 83.3333%; }

    /* Tenths */
    .el-width-1-10\@xl { width: 10%; }
    .el-width-2-10\@xl { width: 20%; }
    .el-width-3-10\@xl { width: 30%; }
    .el-width-4-10\@xl { width: 40%; }
    .el-width-5-10\@xl { width: 50%; }
    .el-width-6-10\@xl { width: 60%; }
    .el-width-7-10\@xl { width: 70%; }
    .el-width-8-10\@xl { width: 80%; }
    .el-width-9-10\@xl { width: 90%; }

    /* Twelwths */
    .el-width-1-12\@xl { width: 8.3333%; }
    .el-width-2-12\@xl { width: 16.6666%; }
    .el-width-3-12\@xl { width: 25%; }
    .el-width-4-12\@xl { width: 33.3333%; }
    .el-width-5-12\@xl { width: 41.6666%; }
    .el-width-6-12\@xl { width: 50%; }
    .el-width-7-12\@xl { width: 58.3333%; }
    .el-width-8-12\@xl { width: 66.6666%; }
    .el-width-9-12\@xl { width: 75%; }
    .el-width-10-12\@xl { width: 83.3333%; }
    .el-width-11-12\@xl { width: 91.6666%; }

    /* Pixel */
    .el-width-small\@xl { width: $--width-sm; }
    .el-width-medium\@xl { width: $--width-md; }
    .el-width-large\@xl { width: $--width-lg; }
    .el-width-xlarge\@xl { width: $--width-xl; }
    .el-width-2xlarge\@xl { width: $--width-2xl; }

    /* Auto */
    .el-width-auto\@xl { width: auto; }

    /* Expand */
    .el-width-expand\@xl {
        flex: 1;
        min-width: 1px;
    }

}

/* 2x Extra Large */
@media (min-width: $--xxl) {

    /* Whole */
    .el-width-1-1\@xxl { width: 100%; }

    /* Halves */
    .el-width-1-2\@xxl { width: 50%; }

    /* Thirds */
    .el-width-1-3\@xxl { width: unquote('calc(100% * 1 / 3.001)'); }
    .el-width-2-3\@xxl { width: unquote('calc(100% * 2 / 3.001)'); }

    /* Quarters */
    .el-width-1-4\@xxl { width: 25%; }
    .el-width-2-4\@xxl { width: 50%; }
    .el-width-3-4\@xxl { width: 75%; }

    /* Fifths */
    .el-width-1-5\@xxl { width: 20%; }
    .el-width-2-5\@xxl { width: 40%; }
    .el-width-3-5\@xxl { width: 60%; }
    .el-width-4-5\@xxl { width: 80%; }

    /* Sixths */
    .el-width-1-6\@xxl { width: 16.6666; }
    .el-width-2-6\@xxl { width: 33.3333%; }
    .el-width-3-6\@xxl { width: 50%; }
    .el-width-4-6\@xxl { width: 66.6666%; }
    .el-width-5-6\@xxl { width: 83.3333%; }

    /* Tenths */
    .el-width-1-10\@xxl { width: 10%; }
    .el-width-2-10\@xxl { width: 20%; }
    .el-width-3-10\@xxl { width: 30%; }
    .el-width-4-10\@xxl { width: 40%; }
    .el-width-5-10\@xxl { width: 50%; }
    .el-width-6-10\@xxl { width: 60%; }
    .el-width-7-10\@xxl { width: 70%; }
    .el-width-8-10\@xxl { width: 80%; }
    .el-width-9-10\@xxl { width: 90%; }

    /* Twelwths */
    .el-width-1-12\@xxl { width: 8.3333%; }
    .el-width-2-12\@xxl { width: 16.6666%; }
    .el-width-3-12\@xxl { width: 25%; }
    .el-width-4-12\@xxl { width: 33.3333%; }
    .el-width-5-12\@xxl { width: 41.6666%; }
    .el-width-6-12\@xxl { width: 50%; }
    .el-width-7-12\@xxl { width: 58.3333%; }
    .el-width-8-12\@xxl { width: 66.6666%; }
    .el-width-9-12\@xxl { width: 75%; }
    .el-width-10-12\@xxl { width: 83.3333%; }
    .el-width-11-12\@xxl { width: 91.6666%; }

    /* Pixel */
    .el-width-small\@xxl { width: $--width-sm; }
    .el-width-medium\@xxl { width: $--width-md; }
    .el-width-large\@xxl { width: $--width-lg; }
    .el-width-xlarge\@xxl { width: $--width-xl; }
    .el-width-2xlarge\@xxl { width: $--width-2xl; }

    /* Auto */
    .el-width-auto\@xxl { width: auto; }

    /* Expand */
    .el-width-expand\@xxl {
        flex: 1;
        min-width: 1px;
    }

}
